
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var NewestPosts = (List<Model.EF.News>)ViewBag.NewestPosts;
                var ProductReviews = (List<Model.EF.News>)ViewBag.ProductReviews;
                var NewestVideo = (List<Model.EF.News>)ViewBag.NewestVideo;
                var VideoNewses = (List<Model.EF.News>)ViewBag.VideoNewses;
                var Socials = (List<Model.EF.Social>)ViewBag.Socials;
}
@section title{
    <title>Tin tức</title>
}

<div class="breadcrumb">
    <ul class="breadcrumb__list">
        <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
        <li><a href="/">Trang chủ</a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
        <li><a href="/tin-tuc">Tin Tức</a></li>
    </ul>
</div>
<div class="post_category_main">
    <div class="content">
        <div class="content_row1">
            <div class="content_left">
                <div class="block newest_post">
                    <div class="block__header"><span class="block__header__title">BÀI VIẾT MỚI NHẤT</span></div>
                    <div class="block__content">
                        @foreach (var item in NewestPosts)
                        {
                            <div class="post">
                                <div class="thumb"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Images" alt=""></a></div>
                                <div class="title"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Title</a></div>
                                <div class="desc">@item.Description</div>
                            </div>
                        }
                    </div>
                    <div class="block__readmore"><a href="/tin-tuc/bai-viet-moi-nhat-4">Xem thêm bài viết</a></div>
                </div>
            </div>
            <div class="content_right">
                <div class="block social">
                    <div class="block__header"><span class="block__header__title">FOLLOW US</span></div>
                    <div class="block__content">
                        @foreach (var item in Socials)
                        {
                            <div class="social-item">
                                @Html.Raw(item.Icon);
                                <a href="@item.Link">@item.Title</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="block review_post">
                    <div class="block__header"><span class="block__header__title">REVIEW SẢN PHẨM</span></div>
                    <div class="block__content">
                        @foreach (var item in ProductReviews)
                        {
                            <div class="post">
                                <div class="thumb"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Images" alt=""></a></div>
                                <div class="title"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Title</a></div>
                            </div>
                        }
                    </div>
                    <div class="block__readmore"><a href="/tin-tuc/review-san-pham-6">Xem thêm bài viết</a></div>
                </div>
            </div>
        </div>
        <div class="content_row2">
            <div class="content_left">
                <div class="block">
                    <div class="block__header"><span class="block__header__title">VIDEO MỚI NHẤT</span></div>
                    <div class="block__content newest_video">
                        <div class="post">
                            @foreach (var item in NewestVideo)
                            {
                                <div class="thumb">
                                    <a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Images" alt=""></a>
                                </div>
                                <div class="title"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Title</a></div>
                            }
                        </div>
                    </div>
                    <div class="block__readmore"><a href="/tin-tuc/tin-tuc-video-7">Xem thêm video nổi bật</a></div>
                </div>
            </div>
            <div class="content_right">
                <div class="block">
                    <div class="block__header"><span class="block__header__title">VIDEO REVIEW</span></div>
                    <div class="block__content newest_videos">
                        @foreach (var item in VideoNewses)
                        {
                            <div class="post">
                                <div class="thumb">
                                    <a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Images" alt=""></a>
                                </div>
                                <div class="title"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Title</a></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

